<h1>Events</h1>

<h2>Assigned to "me"</h2>

<%= render :partial => "event_list", :locals => { :list => @my_events } %>

<h2>Unassigned</h2>

<%= render :partial => "event_list", :locals => { :list => @unassigned_events} %>
